.brush {
  position: absolute;
  bottom: 0%;
  left: 5%;
  width: 100%;
}

.axis--grid .domain {
  fill: #ddd;
  stroke: none;
}

.axis--x .domain,
.axis--grid .tick line {
  stroke: #fff;
}

.axis--grid .tick--minor line {
  stroke-opacity: .5;
}

#svgB > g {
  width: 100%;
}
