.link {
  stroke: #aaa;
  fill: none;
}

.everything text {
  stroke: #333;
  cursor: pointer;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 3px;
  fill: #888;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 50px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.links path {
  stroke: #aaa;
  stroke-opacity: 0.6;
  stroke-width: 3px;
  fill: none
}

#svgA {
  height: 100%;
}

#svgGraph {
  position: inherit;
}

#svgGraphContainerG {
  width: inherit;
  height: inherit;
}
