body {
  background-color: #FFFFFF;
}

body.pushable {
  background: #FFFFFF !important;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.main.container {
  margin-top: 7em;
  height: 90%
}

.wireframe {
  margin-top: 2em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
.ui.sidebar.vertical.menu.left.push.visible{
  background-color: #ECEFF1;
}

#contentsbar {
  margin-top: 10%
}

.sbarelement {
  margin-bottom: 5%;
  text-align: center;
}
.agen{
  margin-bottom: 5%
}

#sidebar {
  position: absolute;
}

.ui.slider.checkbox.sb{
  vertical-align: middle;
  float: right;
}

#sidebar ul {
  list-style-type: none;
}

html, body {
  height: 100%;
  margin: 0
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  padding: 0;
}

.box .row.content {
  flex: 1 1 auto;
  padding: 0;
}

.box .row.footer {
  flex: 0 1 40px;
  padding: 0;
}
